body{
    padding-top:50px;
}

#navbar{
  background-color: #800000;
}

#text{
    background-color: #000000;
    color:#FFFFFF
}

#background-image{
    position: relative;
    padding: 0;
    margin:0;
    overflow: hidden;
    height: 600px;
    background-image: url(..//image/house.jpg);
    background-repeat:no-repeat ;
    background-size: 100% 700px;
    background-position: top center;
    background-attachment: fixed;
}
